.jumbotron {
    margin-bottom:0;
}
.btn-rent {
    width: 100%;
}

.costume-thumb {
    width: 100%;
}

.border {
    background-color:#e3e3e5;
    padding:20px;
}

.border:hover {
    background-color:#bcbfc4;
}
