{% extends 'templates/main.twig' %}
{% block head %}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="alert-box" class="col-md-12">
            </div>
            {% for costume in costumes %}
                <div class="col-md-4">
                    <a href="" class="costume-box" data-costume-id="{{ costume.getId() }}">
                        <div class="border">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="http://placehold.it/200x200" class="img-thumbnail costume-thumb">
                                </div>
                                <div class="col-md-12 text-center">
                                    <h3><font style="color:black">{{ costume.getCostume() }}</font></h3>
                                </div>
                                <div class="col-md-12 text-center">
                                    <h3><font style="color:black">R$ {{ (costume.getPriceRent()/100)|number_format(2,',','.') }}</font></h3>
                                </div>
                                <div class="col-md-12 text-center">
                                    <h3><span class="label btn-rent label-success">+ Adicionar ao carrinho</span></h3>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block jscript %}
    <script src="/js/shop/index.js"></script>
{% endblock %}
