{% extends 'templates/main.twig' %}
{% block head %}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {% if itens|length == 0 %}
                    <div class="row">
                        <div class="col-md-12">
                            Sem itens no carrinho
                        </div>
                    </div>
                {% endif %}

                {% for item in itens %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="border">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <img src="http://placehold.it/200x200" class="img-thumbnail costume-thumb">
                                    </div>
                                    <div class="col-md-5 text-center">
                                        <h3><font style="color:black">{{ item.getCostume().getCostume() }}</font></h3>
                                    </div>
                                    <div style="margin-top:15px" class="col-md-2 text-center">
                                        Qtd.
                                        <div>{{ item.getQuantity() }}</div>
                                    </div>
                                    <div class="col-md-2 text-center">
                                        <h3><font style="color:black">R$ {{ (item.getCostume().getPriceRent()/100)|number_format(2,',','.') }}</font></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <div class="col-md-4">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Checkout</h3>
                    </div>
                    <div class="panel-body">
                        {% for item in itens %}
                            <div class="row">
                                <div class="col-md-6">
                                    {{ item.getCostume().getCostume() }}
                                </div>
                                <div class="col-md-6 text-right">
                                    <p>R$ {{ (item.getCostume().getPriceRent()/100)|number_format(2,',','.') }} &times {{ item.getQuantity() }}</p>
                                </div>
                            </div>
                        {% endfor %}
                        <hr>
                        <div class="row">
                            <div class="col-md-12 text-right">
                                <div>Total: <span id="cart-sum">R$ {{ (cartSum / 100)|number_format(2,',','.') }}</span></div>
                                <div>Frete: <span id="cart-sum">R$ {{ (shippingPrice/100)|number_format(2,',','.') }} &times {{ itens|length }}</span></div>
                                <div>
                                    Total + Frete:
                                    <span id="cart-sum">R$ {{ (cartSumWithShipping/100)|number_format(2,',','.') }}</span>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-12">
                                <strong>Dados do Cartão</strong>
                            </div>
                            <div class="col-md-12">
                                <form method="post" class="form-horizontal" action="/cart/do-checkout">
                                    <div class="form-group col-md-12">
                                        <input type="text" name="Checkout[card_number]" id="card-number" class="form-control" placeholder="Número do cartão">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <input type="text" name="Checkout[holder_name]" id="holder-name" class="form-control" maxlength="30" placeholder="Nome do titular">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <select name="Checkout[installments]" class="form-control">
                                            {% for installment in range(1,10) %}
                                                <option value="{{ installment }}">
                                                {{ installment }} &times de R${{ (cartSumWithShipping/installment/100)|number_format(2,',','.') }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <select name="Checkout[month]" id="month" class="form-control">
                                            <option value=""> Venc. Mês </option>
                                            {% for month in range(1,12) %}
                                                <option value="{{ month < 10 ? 0 ~ month }}"> {{ month }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-7">
                                        <select name="Checkout[year]" id="year" class="form-control">
                                            <option value=""> Venc. Ano </option>
                                            {% for year in range(2017,2050) %}
                                                <option value="{{ year }}"> {{ year }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <div id="alert-box" class="col-md-12"></div>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <button id="checkout-button" data-loading-text="Processando..." class="btn btn-success col-md-12" type="submit">
                                            <strong>Finalizar locação</strong>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jscript %}
    <script src="/js/cart/checkout.js"></script>
{% endblock %}
