{% extends 'templates/main.twig' %}
{% block head %}
    <link rel="stylesheet" href="/css/style.css">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <font size="6">
                    <i style="color:green" class="glyphicon glyphicon-ok"></i>
                    A transação foi realizada com sucesso
                </font>
                <br>

                <font size="5">
                    O ID da sua transação é: <strong>#{{ transactionId }}</strong>
                </font>
            </div>
        </div>
    </div>
{% endblock %}
