<html>
    <head>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        {% block head %}
        {% endblock %}
        <body>
            <div class="jumbotron">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Maria Barros Fantasias</h1>
                            <h3>A melhor loja para alugar sua fantasia</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h4><a href="/shop">Home</a></h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <h4><a href="/cart/checkout">Carrinho(<span id="cart-count"></span>)</a></h4>
                    </div>
                </div>
            </div>

            {% block content %}
            {% endblock %}

            <script src="/bower_components/jquery/dist/jquery.min.js"></script>
            <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
            <script src="/js/templates/main.js"></script>
            {% block jscript %}
            {% endblock %}
        </body>
    </head>
</html>
